.home-component {
  background: url("../images/spark_background_home.jpg");
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  background-attachment: fixed;
  height: 400px;
}
