{% extends 'spark_app/base.html' %} {% block content %}

<div class="home-component">
</div>
<table class="table">
    <div class="table-header">All Trips</div>
    </div>
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Destination</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
        </tr>
    </thead>
    <tbody>
        {% for trip in all_trips %}
        <tr>
            <td>{{ trip.created_by.first_name }} {{ trip.created_by.last_name }}</td>
            <td><a href="/details/{{trip.id}}">{{trip.destination}}</a></td>
            <td>{{trip.travel_date_from}}</td>
            <td>{{trip.travel_date_to}}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>
<div>Carter</div>

{%endblock%}