{% extends 'spark_app/base.html' %} {% block content %}
<div class="register-form-component">
    <form action="/process_register" method="POST">
        {% csrf_token %}
        <img class="mb-4" style="text-align:center;" src="/static/travel_app/images/around.svg" alt="" width="72" height="72">
        <h1 class="form-header h3 mb-3 font-weight-normal">Travelify</h1>

        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <br>

        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <br>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="remember_me" value="1"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <br>
        <a href="/registration">Not Registered yet?</a>
        <!-- <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p> -->
    </form>
</div>

{%endblock%}